@{
    ViewData["Title"] = "Home Page";
}
<h1>Please provide the following informationand I will move the 91.7 billion into your account from my account. Trust me Im the king of Morocco</h1>
<form action="user" method="POST">
    <label name="FirstName">First Name: </label>
    <input type="text" name="FirstName" />
    