<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
</head>
<body>
    <form action="method" method="Post">
        Your Name: <input type="text" name="name"><br>
        Dojo Location: <input type="select" name="location"><br>
        Favorite Language: <input type="select" name="lang"><br>
    </form>
</body>
</html>