@{
    ViewData["Title"] = "Home Page";
}
@model BankofDojo.Models.RegisterViewModel

<h1>Register</h1>
<form asp-controller="register" asp-action="register" method="POST">
    <fieldset>
    <p>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName">
        <span asp-validation-for="FirstName"></span>
        </p>
        <p>
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
            <span asp-validation-for="LastName"></span>
        </p>
        <p>
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <span asp-validation-for="Email"></span>
        </p>
        <p>
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <label asp-for="Confirm">Confirm Password</label>
            <input asp-for="Confirm">
            <span asp-validation-for="Confirm"></span>
        </p>
        <button>Register</button>
    </Fieldset>
</form>
<h3><a href="login">Already Registered?</a></h3>