@{
    ViewData["Title"] = "Home Page";
}
<h1>Register</h1>
<form action="register" method="POST">
    First Name: <input type="text" name="FirstName">
    Last Name: <input type="text" name="LastName">
    Email Address: <input tyoe="text" name="Email">
    Password: <input type="password" name="Password">
    Confirm Password: <input type="password" name="Confirm">
    <button type="button" name="submit" value="Submit">
</form>