<h1>Login</h1>
<form action="Login" method="POST">
    <input type="text"name="Email">
    <input type="password" name="password">
    <input type="submit" name="submit" value="Submit">
</form>

<h3><a href="Index.cshtml">Need to Register?</a></h3>