<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Fullness: </h1>
    <h1>Happiness: </h1>
    <h1>Meals: </h1>
    <h1>Energy : </h1>
    <!--DojoDachi image and text here-->
    <form action="Feed" method="post">
        <input type="submit" name="Feed">
    </form>
     <form action="Play" method="post">
        <input type="submit" name="Play">
    </form>
     <form action="Work" method="post">
        <input type="submit" name="Work">
    </form>
     <form action="Sleep" method="post">
        <input type="submit" name="Sleep">
    </form>
</body>
</html>